/*Navbar CSS*/
/*@font-face {
    font-family: theSeasons;
    src: url(Fontspring-DEMO-theseasons-bd.otf);

}

h1,
h2,
h3{
    color: black;
    text-align: center;
    font-family: theSeasons;
}
h4{
    color: black;
    font-family: theSeasons;
    font-weight: bolder;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

.navbar.scrolled {
    background: rgb(222, 192, 222);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }

}

/*End of Navbar CSS*/
/*About Page*/


/*eoAboutPage*/


/*.demo {
    background: #e5e5e5;
}

.our-team {
    border: 2px solid #32d3ff;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    z-index: 1;
    position: relative;
}

.our-team:before,
.our-team:after {
    content: "";
    width: 100%;
    height: 104%;
    background: #32d3ff;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%) scaleX(0.3);
    transition: all 0.3s ease 0s;
}

.our-team:after {
    width: 106%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(0.25);
}

.our-team:hover:before {
    transform: translateY(-50%) scaleX(0.7);
}

.our-team:hover:after {
    transform: translate(-50%, -50%) scaleY(0.7);
}

.our-team img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.our-team .team-content {
    width: 93%;
    padding: 25px 0 10px;
    background: #44fffc;
    position: absolute;
    bottom: 50px;
    left: 50%;
    opacity: 0;
    -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    transform: translateX(-50%);
    transition: all 0.3s cubic-bezier(0.5, 0.2, 0.1, 0.9);
}

.our-team:hover .team-content {
    bottom: 10px;
    opacity: 1;
}

.our-team .title {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0;
}

.our-team .post {
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.our-team .social {
    padding: 0;
    margin: 0;
    list-style: none;
}

.our-team .social li {
    display: inline-block;
    margin: 0 5px;
}

.our-team .social li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: #fff;
    font-size: 20px;
    color: #ff3232;
    transition: all 0.3s ease 0s;
}

.our-team .social li a:hover {
    background: linear-gradient(to bottom, #ff3232, darkred);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
    color: #fff;
}

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 30px;
    }
}*/
/*Navbar CSS*/
@font-face {
    font-family: theSeasons;
    src: url(Fontspring-DEMO-theseasons-bd.otf);

}

h1,
h2,
h3{
    color: black;
    text-align: center;
    font-family: theSeasons;
}
h4{
    color: black;
    font-family: theSeasons;
    font-weight: bolder;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

.navbar.scrolled {
    background: rgb(222, 192, 222);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }

}

/*End of Navbar CSS*/
/*About Page*/


/*eoAboutPage*/


.demo {
    background: #e5e5e5;
}

.our-team {
    border: 2px solid #32d3ff;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    z-index: 1;
    position: relative;
}

.our-team:before,
.our-team:after {
    content: "";
    width: 100%;
    height: 104%;
    background: #32d3ff;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%) scaleX(0.3);
    transition: all 0.3s ease 0s;
}

.our-team:after {
    width: 106%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(0.25);
}

.our-team:hover:before {
    transform: translateY(-50%) scaleX(0.7);
}

.our-team:hover:after {
    transform: translate(-50%, -50%) scaleY(0.7);
}

.our-team img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.our-team .team-content {
    width: 93%;
    padding: 25px 0 10px;
    background: #44fffc;
    position: absolute;
    bottom: 50px;
    left: 50%;
    opacity: 0;
    -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    transform: translateX(-50%);
    transition: all 0.3s cubic-bezier(0.5, 0.2, 0.1, 0.9);
}

.our-team:hover .team-content {
    bottom: 10px;
    opacity: 1;
}

.our-team .title {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0;
}

.our-team .post {
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.our-team .social {
    padding: 0;
    margin: 0;
    list-style: none;
}

.our-team .social li {
    display: inline-block;
    margin: 0 5px;
}

.our-team .social li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: #fff;
    font-size: 20px;
    color: #ff3232;
    transition: all 0.3s ease 0s;
}

.our-team .social li a:hover {
    background: linear-gradient(to bottom, #ff3232, darkred);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
    color: #fff;
}

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 30px;
    }
}
body{
    padding-top:100px;
    background:black;
    
  }
  #road{
    width: auto;
    height: 80px;
    background-color:gray;
    margin:55px 13px 0 13px;
    clear:both;
    border-radius:2px;
  }
  
  /*#tree{
      
    z-index:1;
    position:absolute;
    width:150px;
    height:150px;
    background: url(http://th07.deviantart.net/fs71/150/f/2012/176/f/4/tree_yay_by_rhubarb_leaf-d54swby.png);
    background-repeat: no-repeat;
    margin:-50px 0 0 500px ;
   }*/
  
  .bus {
      display: inline-block;
      width: 90px;
      height: 45px;
      clear:both;
      margin:20px 0px 0px 10px;
       background-color:red;
      border-radius:17px 10px 2px 2px;  
      background: red;
      position :relative;
    animation: mymove 7s infinite normal ease-in-out;
    -webkit-animation: mymove 7s infinite normal ease-in-out;
  }
  
  @keyframes mymove {
      0% { left: -300px;}
      50% {left: 600px;}
      100% {left: 1400px;}
   }
  
  @-webkit-keyframes mymove {
      0% { left: -300px;}
      50% {left: 550px;}
      100% {left: 1400px;}
   }
  
  #whell1{
    position:absolute;
    display: inline-block;
    width:14px;
    height:14px;
    background-color:black;
    border-radius:80px;
    margin:37px 65px;
    background-position: center center;
    }
  
  
  #whell2{
    position:absolute;
    display: inline-block;
    width:14px;
    height:14px;
    background-color:black;
    border-radius:80px;
    margin:37px 10px;
    background-position: center center;
    }
  
  #whell3{
    position:absolute;
    display: inline-block;
    width:8px;
    height:8px;
    background-color:transparent;
    border:1.5px dotted white;
    border-radius:80px;
    margin:39px 67.1px;
    background-position: center center;
    }
  
  
  #whell4{
    position:absolute;
    display: inline-block;
    width:8px;
    height:8px;
    background-color:transparent;
    border:1.5px dotted white;
    border-radius:80px;
    margin:39px 11.9px;
    background-position: center center;
    }
  
  
  #win1{
    position:absolute;
    display: inline-block;
    width:12px;
    height:12px;
    background-color:white;
    border-radius:4px 0 0 0;
    margin:5px 20px 0px 8px;
    background-position: center center;
    }
  #win2{
    position:absolute;
    display: inline-block;
    width:18px;
    height:12px;
    background-color:white;
    border-radius:3px 3px 0px 0px; 
    margin:5px 33px 0px 24px;
    background-position: center center;
    }
  
  #win3{
    position:absolute;
    display: inline-block;
    width:18px;
    height:12px;
    background-color:white;
    border-radius:3px 3px 0px 0px; 
    margin:5px 54px 0 48px;
    background-position: center center;
    }
  
  #win4{
    position:absolute;
    display: inline-block;
    width:12px;
    height:12px;
    background-color:white;
    border-radius:0 4px 0 0;
    margin:5px 54px 0 72px;
    background-position: center center;
    }
  
  #line{
      position:relative;
      width: 1200px;
       top:40px;
      height: 1px;
      clear:both;
      margin-left: auto;
      margin-right:auto;
       border:1px dashed white;
  }
  
  #fuel{
    position:absolute;
    display: inline-block;
    width:5px;
    height:1.5px;
    background-color:#1D1F20;
    border-radius:0px;
    margin:42px -5px;
    background-position: center center;
    transform:rotate(-18deg);  
  }
  
  #light{
    z-index:1;
    position:absolute;
    display: inline-block;
    width:4px;
    height:7.8px;
    background-color:black;
    border-radius:80px;
    margin:27px 90px;
    border-radius: 0 90px 90px 0;
    background:#f93100;
   
  }
  
  #up1{
    position:absolute;
    display: inline-block;
    width:50px;
    height:2px;
    background-color:white;
    border-radius:4px 4px 0 0;
    margin:-5px 0px 0px 19px;
    background-position: center center;
    }
  
  #up2{
    position:absolute;
    display: inline-block;
    width:2px;
    height:5px;
    background-color:white;
    margin:-5px 0px 0px 26px;
    background-position: center center;
    }
  
  #up3{
    position:absolute;
    display: inline-block;
    width:2px;
    height:5px;
    background-color:white;
    margin:-5px 0px 0px 60px;
    background-position: center center;
    }
  
  #foggy{
    width:4px;
    height:7.8px;
    border-right:200px solid #f7f771;
    border-top:20px solid transparent;
    border-left:20px solid transparent;
    border-bottom:20px solid transparent;
    border-radius:100px;
    margin:90px 60px;
    position:absolute;
    margin:7px 68px;
  
  
  }
  
  #cloud1{
    width:100px;
    height:100px;
    margin:-90px;
    position:absolute;
    background: url(http://images.clipartpanda.com/clouds-background-png-cloud-edition.png);
    background-size: 65% 45%;
     background-repeat: no-repeat;
    animation: cloudy 20s infinite normal;
    -webkit-animation: cloudy 20s infinite normal linear;
  }
  
  @keyframes cloudy{
      0% { left: -100px;}
      100% {left: 1320px;}
   }
  
  @-webkit-keyframes cloudy {
      0% { left: -100px;}
      100% {left: 1320px;}
   }
  
  #cloud2{
    opacity:0.7;
     width:100px;
    height:100px;
    margin:-120px;
    position:absolute;
    background: url(http://images.clipartpanda.com/clouds-background-png-cloud-edition.png);
    background-size: 65% 45%;
     background-repeat: no-repeat;
    animation: cloudy2 23s infinite reverse;
    -webkit-animation: cloudy2 23s infinite reverse  ease-in;
  }
  
  @keyframes cloudy2{
      0% { left: -100px;}
      100% {left: 1300px;}
   }
  
  @-webkit-keyframes cloudy2 {
      0% { left: -100px;}
      100% {left: 1300px;}
   }
    
  
  #cloud3{
  opacity:0.8;
    width:100px;
    height:100px;
    margin:-80px;
    position:absolute;
    background: url(http://images.clipartpanda.com/clouds-background-png-cloud-edition.png);
    background-size: 70% 48%;
     background-repeat: no-repeat;
    animation: cloudy3 40s infinite normal;
    -webkit-animation: cloudy3 40s infinite normal linear;
  }
  
  @keyframes cloudy3{
      0% { left: -100px;}
      100% {left: 1320px;}
   }
  
  @-webkit-keyframes cloudy3 {
      0% { left: -100px;}
      100% {left: 1320px;}
   }
  
  #cloud4{
        -webkit-transform: rotateY(180deg); 
      transform: rotateY(180deg);
    opacity:1;
     width:100px;
    height:100px;
    margin:-80px;
    position:absolute;
    background: url(http://images.clipartpanda.com/clouds-background-png-cloud-edition.png);
    background-size: 85% 70%;
     background-repeat: no-repeat;
    animation: cloudy4 38s infinite reverse;
    -webkit-animation: cloudy4 38s infinite reverse linear;
  }
  
  @keyframes cloudy4{
      0% { left: -100px;}
      100% {left: 1300px;}
   }
  
  @-webkit-keyframes cloudy4 {
      0% { left: -100px;}
      100% {left: 1300px;}
   }
   